@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  --ff-sans: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;
  --fs-400: 0.9375rem;
  --fs-900: 2.25rem;
  --clr-neutral-900: hsl(234, 12%, 34%);
  --clr-neutral-400: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --gap: 1.875rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

h2 {
  line-height: 1;
}

body {
  font-family: var(--ff-sans);
  font-weight: var(--fw-normal);
  font-size: var(--fs-400);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.7;
}

.header {
  margin-block: 5rem 4rem;
  margin-inline: auto;
  max-width: 505px;
  text-align: center;
}
.header__heading {
  font-weight: var(--fw-light);
  color: var(--clr-neutral-900);
  line-height: 1.4;
  font-size: var(--fs-900);
  margin-bottom: 1rem;
}
.header__heading span {
  display: block;
  font-weight: var(--fw-bold);
}

.main {
  max-width: 1110px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap);
}
.main__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: grid;
  gap: var(--gap);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__card {
  padding: 2rem;
  border-radius: 0.25rem;
  border-top: 4px solid;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}
.main__card--cyan {
  border-color: var(--clr-cyan);
}
.main__card--red {
  border-color: var(--clr-red);
}
.main__card--orange {
  border-color: var(--clr-orange);
}
.main__card--blue {
  border-color: var(--clr-blue);
}
.main__heading {
  font-size: 1.25rem;
  color: var(--clr-neutral-900);
  font-weight: var(--fw-bold);
  margin-bottom: 0.75rem;
}
.main__logo {
  margin-top: 2.25rem;
  margin-left: auto;
}

@media screen and (max-width: 70em) {
  :root {
    --gap: 1.5rem;
    --fs-900: 1.5rem ;
  }
  .header {
    padding-inline: 2rem;
    margin-bottom: 4.5rem;
  }
  .header__heading {
    font-size: var(--fs-900);
    margin-bottom: 0.75rem;
  }
  .main {
    padding-inline: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__card {
    padding: 1.5rem;
  }
  .main__heading {
    margin-bottom: 0.5rem;
  }
  .main__logo {
    margin-top: 1.75rem;
  }
}/*# sourceMappingURL=style.css.map */